[buildout]
develop = . 
parts =
    test
    test_w_zodb
    scripts

[test]
recipe = zc.recipe.testrunner
eggs = BTrees [test]

[test_w_zodb]
recipe = zc.recipe.testrunner
eggs = BTrees [test,ZODB]

[scripts]
recipe = zc.recipe.egg
eggs = BTrees [test,ZODB]
interpreter = py
